header {
    background-color: rgb(0, 64, 201);
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 65px;
    height: 65px;
    margin: 10px;
}

#menu {
    width: 55px;
    height: 55px;
    margin: 10px;
}

@media screen and (min-width: 992px) {
    header {
        background-color: rgb(0, 64, 201);
        display: flex;
    }

    #logo {
        width: 85px;
        height: 85px;
        margin: 15px;
    }

    #menu {
        display: none;
    }
}